langchain
langgraph
youtube_transcript_api
fastapi
streamlit
dotenv
langchain_ollama
langchain_openai
langgraph-checkpoint-sqlite
langchain-text-splitters
uvicorn[standard]
langchain_community
langchain_core
rank-bm25
langchain-tavily
langchain_google_genai 
python-multipart